In [2]:
# !pip install pyxirr
import numpy as np
import pandas as pd

# Load cashflows from an Excel file (adjust the file path as needed)
excel_file1 = 'Challange Task Data.xlsm'  # Replace with your file path
df1 = pd.read_excel(excel_file1, "Canadian Stocks")
df2 = pd.read_excel(excel_file1, "Canadian Stocks Benchmark")

In [3]:
df1['Actual (Python)'] = - df1['Cashflow']
print(df1)

         Date        Value   Cashflow  Actual Cashflow  Unnamed: 4  \
0  2018-01-31  10849784.74  -11692.38         11692.38         NaN
1  2018-02-28  10287646.81  -24322.38         24322.38         NaN
2  2018-03-30  10275003.81  -46140.26         46140.26         NaN
3  2018-04-30  10536100.39  -25996.38         25996.38         NaN
4  2018-05-30  10851665.12  -25612.38         25612.38         NaN
5  2018-06-30  11310824.25  -46415.97         46415.97         NaN
6  2018-07-30  11438205.77  -26904.79         26904.79         NaN
7  2018-08-30  11276744.62  -25805.29         25805.29         NaN
8  2018-09-30  11021497.47  -46381.29         46381.29         NaN
9  2018-10-30  10490587.08  -26904.79         26904.79         NaN
10 2018-11-30  10705619.94  -26405.29         26405.29         NaN
11 2018-12-30   9938734.37 -149992.55        149992.55         NaN
12 2019-01-30  10802928.93  -12864.79         12864.79         NaN
13 2019-02-28  11083265.91  -26405.29         26405.29         NaN
14 2019-03-30  11123149.13  -49977.84         49977.84         NaN
15 2019-04-30  11489080.62  -29532.79         29532.79         NaN
16 2019-05-30  11177309.19  -27845.29         27845.29         NaN
17 2019-06-30  11146899.63  -50222.23         50222.23         NaN
18 2019-07-30  10911773.09  -30441.20         30441.20         NaN
19 2019-08-30  10752471.51  -28038.20         28038.20         NaN
20 2019-09-30  11249173.25  -66533.59         66533.59         NaN
21 2019-10-30  11089526.88  -14061.20         14061.20         NaN
22 2019-11-30  11459855.67  -28488.20         28488.20         NaN
23 2019-12-30  11498725.48  -66489.47         66489.47         NaN
24 2020-01-30  11108171.58 -614061.20        614061.20         NaN
25 2020-02-28  10033588.14 -362931.11        362931.11         NaN
26 2020-03-30   7737016.08  -89107.80         89107.80         NaN
27 2020-04-30   8137338.12  -14554.11         14554.11         NaN
28 2020-05-30   8170324.50  -29731.11         29731.11         NaN
29 2020-06-30   8103584.50  -63104.89         63104.89         NaN
30 2020-07-30   8049085.47  -14554.11         14554.11         NaN
31 2020-08-30   8321132.22  -29731.11         29731.11         NaN
32 2020-09-30   7740937.98  -62877.20         62877.20         NaN
33 2020-10-30   7550377.07  -14554.11         14554.11         NaN
34 2020-11-30   8619794.48  -29731.11         29731.11         NaN
35 2020-12-30   8678665.98  -62665.03         62665.03         NaN
36 2021-01-30   8838256.06  -14554.11         14554.11         NaN
37 2021-02-28   9385709.50  -13531.11         13531.11         NaN
38 2021-03-30   9893742.56  -80237.62         80237.62         NaN
39 2021-04-30  10250128.00  -14554.11         14554.11         NaN
40 2021-05-30  10530891.17  -29731.11         29731.11         NaN
41 2021-06-30  10784034.47  -63872.16         63872.16         NaN
42 2021-07-30  10594732.08  -15746.61         15746.61         NaN
43 2021-08-30  10780611.65  -29731.11         29731.11         NaN
44 2021-09-30  10976472.69  -64172.74         64172.74         NaN
45 2021-10-30  11539348.57  -15746.61         15746.61         NaN
46 2021-11-30  10241959.74  -29731.11         29731.11         NaN
47 2021-12-30  10570692.17  -73831.50         73831.50         NaN
48 2022-01-30  11091506.68   -9931.11          9931.11         NaN
49 2022-02-28  11055461.62  -32731.11         32731.11         NaN
50 2022-03-30  11375020.05  -75621.95         75621.95         NaN
51 2022-04-30  11194468.07   -9931.11          9931.11         NaN
52 2022-05-30  11513212.06  -32731.11         32731.11         NaN
53 2022-06-30  10840024.32  -38356.00         38356.00         NaN
54 2022-07-30  11130014.72       0.00             0.00         NaN
55 2022-08-30  10891318.36       0.00             0.00         NaN
56 2022-09-30  10575579.43       0.00             0.00         NaN
57 2022-10-30  11184750.50       0.00             0.00         NaN
58 2022-11-30  11675685.32       0.00             0.00         NaN
59 2022-12-30  11216853.22   43246.99        -43246.99         NaN

    Unnamed: 5     Date.1  Value of Canadian Stocks (CAD)  \
0          NaN 2018-03-30                     10275003.81
1          NaN 2018-06-30                     11310824.25
2          NaN 2018-09-30                     11021497.47
3          NaN 2018-12-30                      9938734.37
4          NaN 2019-03-30                     11123149.13
5          NaN 2019-06-30                     11146899.63
6          NaN 2019-09-30                     11249173.25
7          NaN 2019-12-30                     11498725.48
8          NaN 2020-03-30                      7737016.08
9          NaN 2020-06-30                      8103584.50
10         NaN 2020-09-30                      7740937.98
11         NaN 2020-12-30                      8678665.98
12         NaN 2021-03-30                      9893742.56
13         NaN 2021-06-30                     10784034.47
14         NaN 2021-09-30                     10976472.69
15         NaN 2021-12-30                     10570692.17
16         NaN 2022-03-30                     11375020.05
17         NaN 2022-06-30                     10840024.32
18         NaN 2022-09-30                     10575579.43
19         NaN 2022-12-30                     11216853.22
20         NaN        NaT                             NaN
21         NaN        NaT                             NaN
22         NaN        NaT                             NaN
23         NaN        NaT                             NaN
24         NaN        NaT                             NaN
25         NaN        NaT                             NaN
26         NaN        NaT                             NaN
27         NaN        NaT                             NaN
28         NaN        NaT                             NaN
29         NaN        NaT                             NaN
30         NaN        NaT                             NaN
31         NaN        NaT                             NaN
32         NaN        NaT                             NaN
33         NaN        NaT                             NaN
34         NaN        NaT                             NaN
35         NaN        NaT                             NaN
36         NaN        NaT                             NaN
37         NaN        NaT                             NaN
38         NaN        NaT                             NaN
39         NaN        NaT                             NaN
40         NaN        NaT                             NaN
41         NaN        NaT                             NaN
42         NaN        NaT                             NaN
43         NaN        NaT                             NaN
44         NaN        NaT                             NaN
45         NaN        NaT                             NaN
46         NaN        NaT                             NaN
47         NaN        NaT                             NaN
48         NaN        NaT                             NaN
49         NaN        NaT                             NaN
50         NaN        NaT                             NaN
51         NaN        NaT                             NaN
52         NaN        NaT                             NaN
53         NaN        NaT                             NaN
54         NaN        NaT                             NaN
55         NaN        NaT                             NaN
56         NaN        NaT                             NaN
57         NaN        NaT                             NaN
58         NaN        NaT                             NaN
59         NaN        NaT                             NaN

    Actual Cashflow of Canadian Stocks (CAD)  Actual (Python)
0                                   82155.02         11692.38
1                                   98024.73         24322.38
2                                   99091.37         46140.26
3                                  203302.63         25996.38
4                                   89247.92         25612.38
5                                  107600.31         46415.97
6                                  125012.99         26904.79
7                                  109038.87         25805.29
8                                 1066100.11         46381.29
9                                  107390.11         26904.79
10                                 107162.42         26405.29
11                                 106950.25        149992.55
12                                 108322.84         12864.79
13                                 108157.38         26405.29
14                                 109650.46         49977.84
15                                 119309.22         29532.79
16                                 118284.17         27845.29
17                                  81018.22         50222.23
18                                      0.00         30441.20
19                                 -43246.99         28038.20
20                                       NaN         66533.59
21                                       NaN         14061.20
22                                       NaN         28488.20
23                                       NaN         66489.47
24                                       NaN        614061.20
25                                       NaN        362931.11
26                                       NaN         89107.80
27                                       NaN         14554.11
28                                       NaN         29731.11
29                                       NaN         63104.89
30                                       NaN         14554.11
31                                       NaN         29731.11
32                                       NaN         62877.20
33                                       NaN         14554.11
34                                       NaN         29731.11
35                                       NaN         62665.03
36                                       NaN         14554.11
37                                       NaN         13531.11
38                                       NaN         80237.62
39                                       NaN         14554.11
40                                       NaN         29731.11
41                                       NaN         63872.16
42                                       NaN         15746.61
43                                       NaN         29731.11
44                                       NaN         64172.74
45                                       NaN         15746.61
46                                       NaN         29731.11
47                                       NaN         73831.50
48                                       NaN          9931.11
49                                       NaN         32731.11
50                                       NaN         75621.95
51                                       NaN          9931.11
52                                       NaN         32731.11
53                                       NaN         38356.00
54                                       NaN            -0.00
55                                       NaN            -0.00
56                                       NaN            -0.00
57                                       NaN            -0.00
58                                       NaN            -0.00
59                                       NaN        -43246.99

In [61]:
qc = []
i = 0
while i < len(df1['Actual Cashflow']):
    qc.append(np.sum(df1['Actual Cashflow'][i:i+3]))
    i += 3
print(qc)

[82155.02, 98024.73000000001, 99091.37, 203302.63, 89247.92, 107600.31, 125012.98999999999, 109038.87, 1066100.1099999999, 107390.11, 107162.42, 106950.25, 108322.84, 108157.37999999999, 109650.45999999999, 119309.22, 118284.17, 81018.22, 0.0, -43246.98999999999]

In [4]:
def create_quarterly_ac(df1, n = 3):
    i = 0
    # new_date = []
    # new_value = []
    # new_actual = []
    df_list_cad = []
    while i < len(df1.Date):
        temp = []
        temp.append(df1.Date[i+(n-1)])
        temp.append(df1.Value[i+(n-1)])
        temp.append(df1['Actual Cashflow'][i:i+n].sum())
        df_list_cad.append(temp)
        i += n # i = i + 3
    
    
    print(df_list_cad)
    df_cad = pd.DataFrame(df_list_cad, columns=['Date', 'Value', 'Actual Cashflow'])
    return df_cad
    # df1['Actual Cashflow'][0:3]
df_cad = create_quarterly_ac(df1)
print(df_cad)

[[Timestamp('2018-03-30 00:00:00'), 10275003.81, 82155.02], [Timestamp('2018-06-30 00:00:00'), 11310824.25, 98024.73000000001], [Timestamp('2018-09-30 00:00:00'), 11021497.47, 99091.37], [Timestamp('2018-12-30 00:00:00'), 9938734.37, 203302.63], [Timestamp('2019-03-30 00:00:00'), 11123149.13, 89247.92], [Timestamp('2019-06-30 00:00:00'), 11146899.63, 107600.31], [Timestamp('2019-09-30 00:00:00'), 11249173.25, 125012.98999999999], [Timestamp('2019-12-30 00:00:00'), 11498725.48, 109038.87], [Timestamp('2020-03-30 00:00:00'), 7737016.08, 1066100.1099999999], [Timestamp('2020-06-30 00:00:00'), 8103584.5, 107390.11], [Timestamp('2020-09-30 00:00:00'), 7740937.98, 107162.42], [Timestamp('2020-12-30 00:00:00'), 8678665.98, 106950.25], [Timestamp('2021-03-30 00:00:00'), 9893742.56, 108322.84], [Timestamp('2021-06-30 00:00:00'), 10784034.47, 108157.37999999999], [Timestamp('2021-09-30 00:00:00'), 10976472.69, 109650.45999999999], [Timestamp('2021-12-30 00:00:00'), 10570692.17, 119309.22], [Timestamp('2022-03-30 00:00:00'), 11375020.05, 118284.17], [Timestamp('2022-06-30 00:00:00'), 10840024.32, 81018.22], [Timestamp('2022-09-30 00:00:00'), 10575579.43, 0.0], [Timestamp('2022-12-30 00:00:00'), 11216853.22, -43246.98999999999]]
         Date        Value  Actual Cashflow
0  2018-03-30  10275003.81         82155.02
1  2018-06-30  11310824.25         98024.73
2  2018-09-30  11021497.47         99091.37
3  2018-12-30   9938734.37        203302.63
4  2019-03-30  11123149.13         89247.92
5  2019-06-30  11146899.63        107600.31
6  2019-09-30  11249173.25        125012.99
7  2019-12-30  11498725.48        109038.87
8  2020-03-30   7737016.08       1066100.11
9  2020-06-30   8103584.50        107390.11
10 2020-09-30   7740937.98        107162.42
11 2020-12-30   8678665.98        106950.25
12 2021-03-30   9893742.56        108322.84
13 2021-06-30  10784034.47        108157.38
14 2021-09-30  10976472.69        109650.46
15 2021-12-30  10570692.17        119309.22
16 2022-03-30  11375020.05        118284.17
17 2022-06-30  10840024.32         81018.22
18 2022-09-30  10575579.43             0.00
19 2022-12-30  11216853.22        -43246.99

In [76]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1.dtypes

Date                                        datetime64[ns]
Value                                              float64
Cashflow                                           float64
Actual Cashflow                                    float64
Unnamed: 4                                         float64
Unnamed: 5                                         float64
Date.1                                      datetime64[ns]
Value of Canadian Stocks (CAD)                     float64
Actual Cashflow of Canadian Stocks (CAD)           float64
Actual (Python)                                    float64
dtype: object

In [5]:
from pyxirr import xirr
def create_xirr_cad(df1, n = 2):
    j = 0
    xirr_ = []
    dates_ = pd.to_datetime(df_cad['Date'])
    dates2 = []
    while j < len(df_cad['Actual Cashflow'])-(n-1):
        temp = [-df_cad['Value'][j], df_cad['Actual Cashflow'][j], df_cad['Actual Cashflow'][j+(n-1)], df_cad['Value'][j+(n-1)]]
        dates = [dates_[j],dates_[j],dates_[j+(n-1)],dates_[j+(n-1)]]
        dates2.append(df_cad["Date"][j+(n-1)])
        date_diff = (dates_[j+n-1]-dates_[j]) /  pd.Timedelta(days=(n-1))
        xirr_.append(xirr(dates,temp)*(date_diff)/365)
        j += (n-1)
    return xirr_, dates2
xirr_, dates2 = create_xirr_cad(df1, n=2)

In [6]:
xirr_cad = [i  for i in xirr_] 
xirr_cad
print(dates2)

[Timestamp('2018-06-30 00:00:00'), Timestamp('2018-09-30 00:00:00'), Timestamp('2018-12-30 00:00:00'), Timestamp('2019-03-30 00:00:00'), Timestamp('2019-06-30 00:00:00'), Timestamp('2019-09-30 00:00:00'), Timestamp('2019-12-30 00:00:00'), Timestamp('2020-03-30 00:00:00'), Timestamp('2020-06-30 00:00:00'), Timestamp('2020-09-30 00:00:00'), Timestamp('2020-12-30 00:00:00'), Timestamp('2021-03-30 00:00:00'), Timestamp('2021-06-30 00:00:00'), Timestamp('2021-09-30 00:00:00'), Timestamp('2021-12-30 00:00:00'), Timestamp('2022-03-30 00:00:00'), Timestamp('2022-06-30 00:00:00'), Timestamp('2022-09-30 00:00:00'), Timestamp('2022-12-30 00:00:00')]

In [7]:
df2['Actual Cashflow'] = df2['Cashflow']
qc = []
i = 0
while i < len(df2['Actual Cashflow']):
    qc.append(np.sum(df2['Actual Cashflow'][i:i+3]))
    i += 3
print(qc)

[0.176, 0.178, 0.179, 0.18, 0.181, 0.193, 0.194, 0.207, 0.189, 0.199, 0.194, 0.197, 0.204, 0.196, 0.208, 0.221, 0.23, 0.236]

In [8]:
df_cad_benchmark = create_quarterly_ac(df2)
print(df_cad_benchmark)

[[Timestamp('2018-09-30 00:00:00'), 23.94, 0.176], [Timestamp('2018-12-30 00:00:00'), 23.0, 0.178], [Timestamp('2019-03-30 00:00:00'), 24.16, 0.179], [Timestamp('2019-06-30 00:00:00'), 24.65, 0.18], [Timestamp('2019-09-30 00:00:00'), 25.15, 0.181], [Timestamp('2019-12-30 00:00:00'), 25.56, 0.193], [Timestamp('2020-03-30 00:00:00'), 20.65, 0.194], [Timestamp('2020-06-30 00:00:00'), 23.55, 0.207], [Timestamp('2020-09-30 00:00:00'), 24.38, 0.189], [Timestamp('2020-12-30 00:00:00'), 26.07, 0.199], [Timestamp('2021-03-30 00:00:00'), 28.2, 0.194], [Timestamp('2021-06-30 00:00:00'), 30.53, 0.197], [Timestamp('2021-09-30 00:00:00'), 30.38, 0.204], [Timestamp('2021-12-30 00:00:00'), 32.52, 0.196], [Timestamp('2022-03-30 00:00:00'), 33.48, 0.208], [Timestamp('2022-06-30 00:00:00'), 29.01, 0.221], [Timestamp('2022-09-30 00:00:00'), 28.28, 0.23], [Timestamp('2022-12-30 00:00:00'), 29.59, 0.236]]
         Date  Value  Actual Cashflow
0  2018-09-30  23.94            0.176
1  2018-12-30  23.00            0.178
2  2019-03-30  24.16            0.179
3  2019-06-30  24.65            0.180
4  2019-09-30  25.15            0.181
5  2019-12-30  25.56            0.193
6  2020-03-30  20.65            0.194
7  2020-06-30  23.55            0.207
8  2020-09-30  24.38            0.189
9  2020-12-30  26.07            0.199
10 2021-03-30  28.20            0.194
11 2021-06-30  30.53            0.197
12 2021-09-30  30.38            0.204
13 2021-12-30  32.52            0.196
14 2022-03-30  33.48            0.208
15 2022-06-30  29.01            0.221
16 2022-09-30  28.28            0.230
17 2022-12-30  29.59            0.236

In [9]:
def create_xirr_cad_benchmark(df2, n = 2):
    j = 0
    xirr_ = []
    dates_ = pd.to_datetime(df_cad_benchmark['Date'])
    dates3 = []
    while j < len(df_cad_benchmark['Actual Cashflow'])-(n-1):
        temp = [-df_cad_benchmark['Value'][j], df_cad_benchmark['Actual Cashflow'][j], df_cad_benchmark['Actual Cashflow'][j+(n-1)], df_cad_benchmark['Value'][j+(n-1)]]
        dates = [dates_[j],dates_[j],dates_[j+(n-1)],dates_[j+(n-1)]]
        dates3.append(df_cad_benchmark["Date"][j+(n-1)])
        date_diff = (dates_[j+n-1]-dates_[j]) /  pd.Timedelta(days=(n-1))
        xirr_.append(xirr(dates,temp)*(date_diff)/365)
        j += (n-1)
    return xirr_, dates3
xirr_, dates3 = create_xirr_cad_benchmark(df2, n=2)
xirr_cad_benchmark = [i  for i in xirr_] 
xirr_cad_benchmark
print(dates3)

[Timestamp('2018-12-30 00:00:00'), Timestamp('2019-03-30 00:00:00'), Timestamp('2019-06-30 00:00:00'), Timestamp('2019-09-30 00:00:00'), Timestamp('2019-12-30 00:00:00'), Timestamp('2020-03-30 00:00:00'), Timestamp('2020-06-30 00:00:00'), Timestamp('2020-09-30 00:00:00'), Timestamp('2020-12-30 00:00:00'), Timestamp('2021-03-30 00:00:00'), Timestamp('2021-06-30 00:00:00'), Timestamp('2021-09-30 00:00:00'), Timestamp('2021-12-30 00:00:00'), Timestamp('2022-03-30 00:00:00'), Timestamp('2022-06-30 00:00:00'), Timestamp('2022-09-30 00:00:00'), Timestamp('2022-12-30 00:00:00')]

In [10]:
result_cad = [0] + [a - b for a, b in zip(xirr_cad[1:], xirr_cad[:-1])] 
result_cad
dates_for_cad_results = dates2[0:]
results_cad = [dates_for_cad_results, result_cad]
final_cad = pd.DataFrame(results_cad).transpose()
final_cad.columns = ['Date', 'num']
final_cad

         Date       num
0  2018-06-30         0
1  2018-09-30 -0.150239
2  2018-12-30 -0.055999
3  2019-03-30  0.254799
4  2019-06-30 -0.170082
5  2019-09-30  0.011135
6  2019-12-30  0.014674
7  2020-03-30 -0.206998
8  2020-06-30  0.483174
9  2020-09-30 -0.340596
10 2020-12-30   0.20678
11 2021-03-30  0.025726
12 2021-06-30 -0.080957
13 2021-09-30 -0.092857
14 2021-12-30 -0.056551
15 2022-03-30  0.131818
16 2022-06-30 -0.144468
17 2022-09-30  0.011905
18 2022-12-30  0.078169

In [11]:
result_cad_benchmark = [0] + [a - b for a, b in zip(xirr_cad_benchmark[1:], xirr_cad_benchmark[:-1])] 
result_cad_benchmark
dates_for_cad_benchmark_results = dates3[0:]
print(len(dates_for_cad_benchmark_results))
results_cad_benchmark = [dates_for_cad_benchmark_results, result_cad_benchmark]
final_cad_benchmark = pd.DataFrame(results_cad_benchmark).transpose()
final_cad_benchmark.columns = ['Date', 'num']
final_cad_benchmark

17

         Date       num
0  2018-12-30         0
1  2019-03-30  0.097293
2  2019-06-30 -0.036228
3  2019-09-30 -0.000241
4  2019-12-30 -0.004151
5  2020-03-30 -0.168818
6  2020-06-30  0.340158
7  2020-09-30 -0.147499
8  2020-12-30  0.040905
9  2021-03-30  0.015386
10 2021-06-30 -0.000972
11 2021-09-30   -0.1037
12 2021-12-30  0.087077
13 2022-03-30 -0.050456
14 2022-06-30 -0.146257
15 2022-09-30  0.091707
16 2022-12-30  0.079164

In [12]:
data_cad = {'Date': dates2, 'Column2': xirr_cad}
df_cad = pd.DataFrame(data_cad)

# Export the DataFrame to an Excel file
excel_file = 'canadian_stock_irr_quarter.xlsx' 
df_cad.to_excel(excel_file, index=False) 

data_cad_benchmark = {'Date': dates3, 'Column3': xirr_cad_benchmark}
df_cad_benchmark = pd.DataFrame(data_cad_benchmark)

# Export the DataFrame to an Excel file
excel_file = 'canadian_stock_benchmark_irr_quarter.xlsx' 
df_cad_benchmark.to_excel(excel_file, index=False)

In [13]:
df_merged1 = pd.merge(final_cad, final_cad_benchmark, how='outer',on=['Date'])
df_merged1['Date'] = pd.to_datetime(df_merged1['Date']).dt.date
print(df_merged1)
excel_file = 'canadian_irr_diff.xlsx' 
df_merged1.to_excel(excel_file, index=False)

          Date     num_x     num_y
0   2018-06-30         0       NaN
1   2018-09-30 -0.150239       NaN
2   2018-12-30 -0.055999         0
3   2019-03-30  0.254799  0.097293
4   2019-06-30 -0.170082 -0.036228
5   2019-09-30  0.011135 -0.000241
6   2019-12-30  0.014674 -0.004151
7   2020-03-30 -0.206998 -0.168818
8   2020-06-30  0.483174  0.340158
9   2020-09-30 -0.340596 -0.147499
10  2020-12-30   0.20678  0.040905
11  2021-03-30  0.025726  0.015386
12  2021-06-30 -0.080957 -0.000972
13  2021-09-30 -0.092857   -0.1037
14  2021-12-30 -0.056551  0.087077
15  2022-03-30  0.131818 -0.050456
16  2022-06-30 -0.144468 -0.146257
17  2022-09-30  0.011905  0.091707
18  2022-12-30  0.078169  0.079164